<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/auth.css">
    <link rel="stylesheet" href="main.css">

    <title>Document</title>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
 
     <main>
        <% if(errorMessage.length>0){ %> 
            <div class="user-message"><%= errorMessage %> </div>
            <% } %> 
         <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="name" name="name" id="name">
            </div>
             <div class="form-control">
                 <label for="mobile">Mobile Number</label>
                 <input type="mobile" name="mobile" id="mobile">
             </div>
             <div class="form-control">
                 <label for="password">Password</label>
                 <input type="password" name="password" id="password">
             </div>
             <div class="form-control">
                 <label for="confirmPassword">Confirm Password</label>
                 <input type="password" name="confirmPassword" id="confirmPassword">
             </div>
             <button class="btn" type="submit">Sign Up</button>
         </form>
     </main>
    
</body>
</html>
