

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/auth.css">
    <link rel="stylesheet" href="main.css">
    <title><%= title  %></title>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
 
     <main>
         <form class="login-form" action="/addtowallet" method="POST">
             <div class="form-control">
                 <label for="amount">Enter the Amount</label>
                 <input type="amount" name="amount" id="amount" required="required">
             </div>

             <div class="form-control">
                <label for="des">Description (if any)</label>
                <input type="des" name="des" id="des">
            </div>
             
             <button class="btn" type="submit">Add to Wallet</button>
         </form>
     </main>
</body>
</html>


